<footer class="site-footer">
  <div class="footer-container">
    <!-- Brand -->
    <div class="footer-col">
      <a href="/index.html">
        <img
          src="../assets/icons/logo.svg"
          alt="Unimart Logo"
          class="footer-logo"
      /></a>

      <p class="footer-text">
        Unimart is your trusted store for smart gadgets, toys and home decor for
        kids and families.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#new">New Arrivals</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#new">Shop</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer-col">
      <h4>Contact</h4>
      <p>
        <i class="fa fa-phone"></i>
        <a href="tel:+9779700013011">+977 9700013011</a>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="mailto:unimart.team@gmail.com">unimart.team@gmail.com</a>
      </p>
      <p>
        <i class="fa fa-location-dot"></i>
        <a
          href="https://maps.app.goo.gl/A4eyLsyo5tmei9HPA"
          target="_blank"
          class="footer-location">
          Siddharthanagar (Bhairahawa), Rupandehi, Nepal
        </a>
      </p>
    </div>

    <!-- Social -->
    <div class="footer-col">
      <h4>Follow Us</h4>
      <div class="footer-social">
        <a
          href="https://www.facebook.com/share/1DSb6HU8iD/"
          target="_blank"
          rel="noopener"
          aria-label="Facebook"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a
          href="https://www.instagram.com/unimart2025?igsh=MWdmcjViZ21uZTh0aA=="
          target="_blank"
          rel="noopener"
          aria-label="Instagram"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.tiktok.com/@unimart_25"
          target="_blank"
          rel="noopener"
          aria-label="Tiktok"
          ><i class="fa-brands fa-tiktok"></i
        ></a>
        <a
          href="https://wa.me/9779700013011?text=Hello%20Unimart%20Team,%20I%20want%20to%20know%20more"
          target="_blank"
          rel="noopener"
          aria-label="WhatsApp"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>

      <p class="trust-text">
        ✔ Secure Orders <br />
        ✔ Fast Delivery <br />
        ✔ Quality Products
      </p>
    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>© 2026 Unimart | All Rights Reserved</p>
    <p class="dev-credit">
      Designed & Developed by
      <a href="https://sng.com.np" target="_blank">SNG Web Studio</a>
    </p>
  </div>
</footer>
